@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Inter';
    box-sizing: border-box;
    outline: 0;
}

html,
body {
  height: 100vh;
  -webkit-font-smoothing: antialiased;
  background-color: #F3F5FC;
    
}

header {

    display: block;
    align-items: center;
}

.nav-header {

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.625rem;
    top: 5px;
    height: 6rem;
    width: 100%;
    background-color: #F3F5FC;
}

.logo {

    display: flex;
    align-items: center;
    height: 140px;
    padding-top: 35px;    
}

.input-container {

    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
    gap: 1.25rem;
    font-family: 'Inter'; 
}

#input-text {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 100px;
    width: 60rem;
    height: 18rem;
    padding: 7rem;
    border: none;
    border-radius: 24px;
    text-align: center;
    font-size: 32px;
    overflow: scroll;
    overflow-y: hidden;
    overflow-x: hidden;
    resize: none;
    color: #0A3871;
    font-weight: 400px;
    outline: none;
}

#output-text {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 100px;
    width: 60rem;
    height: 18rem;
    padding: 7rem;
    border: none;
    border-radius: 24px;
    text-align: center;
    font-size: 32px;
    overflow: scroll;
    overflow-y: hidden;
    overflow-x: hidden;
    resize: none;
    color: #0A3871;
    font-weight: 400px;
    outline: none;
}

.main-btn {

    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    gap: 0.625rem;
    margin-top: 100px;
    
}

#crypt-btn {

    background-color: #0A3871;
    flex-flow: row wrap;
    border: none;
    border-radius: 20px;
    white-space: nowrap;
    font-family: 'Inter';
    font-size: 28px;
    font-weight: 550;
    color: #E5E5E5;
    width: 300px;
    height: 60px;
}

#crypt-btn:hover {

    cursor: pointer;
    background-color: #D8DFE8;
    color: #0A3871;
    border: 1px solid #0A3871;
  }

#decrypt-btn {

    background-color: #D8DFE8;
    flex-flow: row wrap;
    border: 1px solid #0A3871;
    border-radius: 24px;
    white-space: nowrap;
    font-family: 'Inter';
    font-size: 28px;
    font-weight: 550;
    color: #0A3871;
    width: 300px;
    height: 60px;
}

#decrypt-btn:hover {

    cursor: pointer;
    background-color: #0A3871;
    color: #D8DFE8;
  }

#copy-btn {

    background-color: #F3F5FC;
    flex-flow: row wrap;
    border: 1px solid #0A3871;
    border-radius: 24px;
    white-space: nowrap;
    font-family: 'Inter';
    font-size: 28px;
    font-weight: 550;
    color: #0A3871;
    width: 300px;
    height: 60px;
}

#copy-btn:hover {

    cursor: pointer;
    background-color: #0A3871;
    color: #F3F5FC;
  }


#warning-text {

    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    margin-top: -140px;
    font-family: 'Inter';
    font-size: 22px;
    text-align: center;
    color: #495057;
    opacity: 0.9;
    margin-left: 4%;
}

#img-warning {

    display: flex;
    color: #495057;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    order: -1;
    margin-top: -1.8%;
    margin-left: 33.7%;
}


footer {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 0.625rem;
    bottom: 0;
    left: 0;
    right: 0;
    height: 7rem;
    width: 100%;
    background-color: #F3F5FC;
   
}

.social {
    
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 0.625rem;
    height: 10rem;
    width: 100%;
    padding-bottom: 50px;
    margin-top: 150px;
    margin-left: -0.3%;
}

img {

    display: flex;
    align-items: center;
    height: 60px;
}

.social p {

    display: flex;
    font-family: 'Inter';
    font-size: 24px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@media screen and (max-width: 450px) {

    #input-text, #output-text {
        display: block;
        margin-top: 30%;
        width: 150%;
        min-height: 50%;
    }

    #output-text {
        margin-top: 1rem;
    }

    #warning-text{
        flex-direction: row;
        margin-left: 73%; 
        white-space: nowrap;
        margin-top: -65%;
    }

    #img-warning {
        margin-top: -6%;
        margin-left: 30%; 
    }

    .main-btn {
        display: flex;
        flex-direction: column;
        margin-left: 43%;
        
    }

    .social {
        margin-left: 30%;
        margin-top: 70%;
    }
}

@media screen and (max-width: 1024px) {

    #img-warning {
        display: flex;
        margin-left: 27%; 
        margin-top: -2.5%;
    }
}

@media screen and (max-width: 1440px) {

    #img-warning {
        display: flex;
        margin-left: 35.4%; 
        margin-top: -1.8%;
    }
}